* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 0 2px 5px #ddd;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

header ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

header .btn {
    gap: 15px;
}

header .btn {
    background-color: #0F766E;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

section.home {
    background: linear-gradient(rgba(21, 21, 21, 0.6), rgba(35, 35, 35, 0.8)), url(img/beach3.jfif);
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 80px 0;
}


.home-content {
    max-width: 700px;
    color: #fff;
    padding: 20px;
}

.top-badge {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px; 
    border: 1px solid rgba(0, 255, 255, 0.4);
    border-radius: 40px;

    background: rgba(0, 255, 255, 0.08);

    margin-bottom: 30px;

    color: #6ef7e7;
    font-weight: 600;
}

.home-content h1 {
    font-size: 70px;
    line-height: 1.05;
    font-weight: 800;
    margin-bottom: 25px;
}

.gradient-text {
    background: linear-gradient(to right, #00d2ff, #6effa2, #ffd84d);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content p {
    font-size: 20px;
    line-height: 1.6;
    color: #ddd;
    max-width: 650px;
    margin-bottom: 45px;
}

.home-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-custom {
    padding: 18px 35px;

    border-radius: 12px;

    text-decoration: none;

    font-size: 20px;
    font-weight: 600;

    transition: 0.4s;

    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.btn-explore {
    background: #10b5a5;
    color: #fff;
}

.btn-explore:hover {
    background: #0d9488;
    transform: translateY(-5px);
}

.btn-story {
    border: 1px solid rgba(255, 255, 255, 0.4);

    color: #fff;

    backdrop-filter: blur(5px);
}

.btn-story:hover {
    background: #fff;
    color: #000;
}
.home-content .destination h1{
    font-size: 45px;
}
.home-content .destination p{
    font-size: 18px;
}
 